# Tuples

In [1]:
t1 = (2)
t2 = 2, 
t3 = (2,)

In [2]:
type(t1)

int

In [4]:
type(t2)

tuple

In [5]:
type(t3)

tuple

# What makes a tuple is not the parenthesis (), but the comma operator

` Used for storing homogenoeus values `

` Are immutabel in nature ``
  - They cannot grow or shrink in size at the same memory adderess

t1 = 100,200,300,400,500

In [8]:
t1 = 100,200,300,400,500

In [11]:
t1.__getitem__(2), t1[2]

(300, 300)

In [12]:
t1.__setitem__

AttributeError: 'tuple' object has no attribute '__setitem__'

In [13]:
id(t1)

2828105028352

In [14]:
t1

(100, 200, 300, 400, 500)

In [15]:
t1[0]= 800

TypeError: 'tuple' object does not support item assignment

In [17]:
t1.__setitem__(0,200)

AttributeError: 'tuple' object has no attribute '__setitem__'

# changing the valeue of a tuple 
   - We know that tuple does not support item assignment 
    - but list do support 
    
    `
    step1  convert the tuple into a list 
    step2   make the necessary changes in the list '
    step3   reconvert the list into a tupe 
  `

In [18]:
t1 = 'rahul','somani',42, 'Trainer'
temp = list(t1)
print(temp,type(temp))

# Make changes in the list 
temp[2]= 50 
temp[3]= 'Retired'
# reconvert the list into a tuple 

t1 = tuple(temp)
print(type(t1))
print(t1)

['rahul', 'somani', 42, 'Trainer'] <class 'list'>
<class 'tuple'>
('rahul', 'somani', 50, 'Retired')